/.vscode
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Cinemachine.csproj
/com.unity.cinemachine.editor.csproj
/Lethal Company 24.sln
/Library
/Logs
/obj
/Temp
/Unity.Burst.CodeGen.csproj
/Unity.Burst.csproj
/Unity.Burst.Editor.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.Mathematics.csproj
/Unity.Mathematics.Editor.csproj
/Unity.PlasticSCM.Editor.csproj
/Unity.ProBuilder.AddOns.Editor.csproj
/Unity.ProBuilder.AssetIdRemapUtility.csproj
/Unity.ProBuilder.Csg.csproj
/Unity.ProBuilder.csproj
/Unity.ProBuilder.Editor.csproj
/Unity.ProBuilder.KdTree.csproj
/Unity.ProBuilder.Poly2Tri.csproj
/Unity.ProBuilder.Stl.csproj
/Unity.ProGrids.csproj
/Unity.ProGrids.Editor.csproj
/Unity.Rider.Editor.csproj
/Unity.Searcher.Editor.csproj
/Unity.Settings.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.Timeline.csproj
/Unity.Timeline.Editor.csproj
/Unity.VisualScripting.Core.csproj
/Unity.VisualScripting.Core.Editor.csproj
/Unity.VisualScripting.Flow.csproj
/Unity.VisualScripting.Flow.Editor.csproj
/Unity.VisualScripting.SettingsProvider.Editor.csproj
/Unity.VisualScripting.Shared.Editor.csproj
/Unity.VisualScripting.State.csproj
/Unity.VisualScripting.State.Editor.csproj
/Unity.VisualStudio.Editor.csproj
/Unity.VSCode.Editor.csproj
/UnityEditor.TestRunner.csproj
/UnityEngine.TestRunner.csproj
/UserSettings
Assets/Resources/Alvios
Assets/Resources/Modular 3D Characters Vol.4
Assets/Sprits/Mega_Hyper
